!!!
%head
  %title Redis Web
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/reset.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/application.css'}
  %script{:type => 'text/javascript', :src => '/javascripts/lib/jquery.js'}

%body
  = yield
