body {
  text-align: left;
}

#redis {
  .row {
    padding: 1px 0;
    height: 20px;
    min-height: 20px;
    &:hover {
      background: #DEDEDE;
    }
    &.redis_header {
      font-weight: bold;
    }
    .actions {
      vertical-align: top;
      width: 5%;
      display: inline-block;
    }
    .key {
      vertical-align: top;
      width: 35%;
      display: inline-block;
    }
    .type {
      vertical-align: top;
      width: 5%;
      display: inline-block;
    }
    .ttl {
      vertical-align: top;
      width: 5%;
      display: inline-block;
    }
    .values {
      width: 45%;
      height: 16px;
      overflow: hidden;
      display: inline-block;

      .value {
        display: inline-block;
        &:hover {
          background: #999999;
        }
      }
    }
    &.expanded {
      height: auto;
      .values {
        height: auto;
        word-wrap: break-word;
        .value {
          display: block;
        }
      }
    }
  }
}
