!!!
%head
  %title Redis Web
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/reset.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/lib/jquery-ui.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/application.css'}
  %script{:type => 'text/javascript', :src => '/javascripts/lib/jquery.js'}
  %script{:type => 'text/javascript', :src => '/javascripts/lib/jquery-ui.js'}
  %script{:type => 'text/javascript', :src => '/javascripts/lib/underscore.js'}
  %script{:type => 'text/javascript', :src => '/javascripts/application.js'}

%body
  = yield
